# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Git
.git/
.gitignore
.gitattributes

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos de ambiente
.env
.env.*

# Documentação desnecessária para o build
README.md

# Docker
Dockerfile
docker-compose.yml
docker-compose.yaml